/* 
    https://color.adobe.com/es/create/color-contrast-analyzer

    Colors
*/

$color-primary: #E6027A;
$color-primary-2: #e9459c;
$color-primary-3: #EB3A46;

$color-white: #fff;
$color-white-1: #e2e2e2;
$color-white-85: RGBA(255, 255, 255, 0.85);

$color-black-1: #a59197;
$color-black: #3d0b1a;
