
$padding-2xl: 3rem;
$padding-lg: 1rem;
$padding-base: 0.50rem;
$padding-sm: 0.15rem;

.space-2 {
    width: 100%;
    padding-top: 0.25rem;
}

.space-3 {
    width: 100%;
    padding-top: 0.75rem;
}

.space-6 {
    width: 100%;
    padding-top: 1.50rem;
}

$hero-height: 770px;